<meta http-equiv="x-ua-compatible" content="IE=Edge"/>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<title>Alterna | Homepage</title>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (document.documentMode || /Edge/.test(navigator.userAgent)) {
            document.querySelector('.old-b').classList.add('--show');
            document.querySelector('.page-loader-wrap').style.display = "none";
        }
    });

</script>

{% include 'layout/skeleton/head/favicons' %}
{% include 'layout/skeleton/head/seo' %}
