<meta http-equiv="x-ua-compatible" content="IE=Edge"/>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<title>Alterna | Homepage</title>

{% include 'layout/skeleton/head/favicons' %}
{% include 'layout/skeleton/head/seo' %}
