@import '../../styles/variables';

.header {
  background-color: #171416;

  &__video-bg-wrap {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* to video bg */
  }

  &__video-bg {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__large-video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    & video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__copy {
    height: 100%;
    display: flex;
    padding: 0 !important;

    /* @media screen and (max-width: 768px) {
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } */
  }

  &__year-wrap {
    width: 33%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;

    /* @media screen and (max-width: 768px) {
      width: 100%;
      position: static;
    } */
  }

  &__title-wrap {
    width: 67%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50% 0;
    opacity: 0;
    height: 100%;
    z-index: 100;

    /* @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
      z-index: 2;
    } */
  }

  &__title {
    font-size: 6.4rem;
    line-height: 6.4rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 2s ease;
    font-family: var(--italic-title-font);
    font-style: italic;

    &.--mobile {
      opacity: 1;
      z-index: 1;
      height: 100vh;
      display: none;
      justify-content: center;
      align-items: center;
    }
  }

  &__year-photo {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50rem;
    position: relative;

    /* @media screen and (max-width: 768px) {
      width: 220px;
      height: 300px;
      position: absolute;
      top: 50% !important;
      left: 50%;
      transform: translate(-50%, -50%);
    } */

    & img {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__year-title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 6.4rem;
    width: 11rem;
    font-size: 6.4rem;
    line-height: 6.4rem;
    opacity: 0;
    transition: opacity 2s ease;
    font-family: var(--italic-title-font);
    font-style: italic;
    padding-right: 16px;

    &.--mobile {
      position: static;
      opacity: 1;
      z-index: 1;
      height: 100vh;
      display: none;
      justify-content: center;
      align-items: center;
    }

    /* @media screen and (max-width: 768px) {
      position: static;
      z-index: 2;
    } */
  }
}

.header.--mobile {
  min-height: 100vh;
  height: auto !important;

  & .header__title-wrap {
    width: 100%;
    height: 100vh;
    z-index: -1;
    left: 0;
    position: absolute;
    transform: translate3d(0, 0, 0);
    opacity: 0;
    transition: opacity 0.3s ease;
    will-change: opacity;

    /* background: darkolivegreen !important; */

    top: 0 !important;
  }

  /* & .header__video-bg-wrap {
    display: none;
  } */

  & .header__title {
    display: none;

    &.--mobile {
      display: flex;
      padding: 0 10px;
      max-width: 430px;
      margin: 0 auto;

      @media (--notTablet) {
        font-size: 4.4rem;
        line-height: 4.4rem;
      }
    }
  }

  & .header__year-title {
    display: none;

    &.--mobile {
      display: flex;
      padding: 0 10px;

      @media (--notTablet) {
        font-size: 4.4rem;
        line-height: 4.4rem;
      }
    }
  }

  & .header__copy {
    flex-direction: column;
  }

  & .header__year-photo,
  & .header__video-bg {
    width: 30rem;
    height: 40rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.6s ease;
    transform: translate3d(0, 40vh, 0);

    &.--animated {
      opacity: 0 !important;
    }
  }

  & .header__year-wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
    background: unset !important;
  }
}

.header.--mobile.--fixed {
  & .header__year-wrap {
    position: static;
  }

  & .header__year-photo,
  & .header__video-bg {
    position: fixed;
    transform: translate3d(0, 0, 0);
    margin: auto;
    opacity: 1;
  }

  & .header__title-wrap {
    /* position: fixed; */
  }
}
