<section class="page header">
    <div class="copy header__copy" style="opacity: 1;">
        <div class="header__year-wrap" {#if img bg#}style="background-image: url('/assets/test-bg-2.png');"{#endif img bg#}>

            {#if video anchor#}
                {#<div class="header__video-bg-wrap">#}
                    {#<video muted loop autoplay class="header__video-bg">#}
                        {#<source src="/assets/video/SampleVideo_1280x720_1mb.mp4" type="video/mp4">#}
                        {#Your browser does not support the video tag.#}
                    {#</video>#}
                {#</div>#}
            {#endif video anchor#}

            {#if img anchor#}
                <picture class="header__year-photo">
                    <img src="/assets/test-anchor-image.png" alt="">
                </picture>
            {#endif img anchor#}

            <h2 class="header__year-title">
                2008
            </h2>
        </div>
        <div class="header__title-wrap" style="background-image: url('/assets/test-vh-image.png')">
            <h2 class="header__title">
                Caviar <br>
                Anti-Aging <br>
                Restage
            </h2>
        </div>
    </div>
</section>
