<section class="page detail" style="  background-image: url('/assets/test-bg-2.png');">
    <div class="copy detail__copy" style="opacity: 1;">

        <div class="section-header">
            <div class="section-header__year">
                <h2>
                    2008
                </h2>
            </div>
            <div class="section-header__title">
                <h2>
                    Alterna Brand Launches
                </h2>
            </div>
        </div>

        <div class="detail__content">
            <div class="detail__photo-description">
                <h3>
                    Imagine a line of premium hair products free of additives and harsh ingredients resulting in an effective and healthy look.
                </h3>
                <picture class="detail__photo">
                    <img src="/assets/test-collections-3.png" alt="">
                </picture>
            </div>

            <div class="detail__txt-description">
                <h4>
                    Hello world
                </h4>
                <h5>
                    Launched in 1997, Alterna had a vision of creating a sustainable future through introducing a no-compromise luxurious haircare collection. All designed specifically for discerning industry professionals and based on the science of skincare, incorporating new technological advancements. Only natural eco-certified ingredients. No sulfates or parabens. No animal testing. Ever.
                </h5>
            </div>
        </div>

        <picture class="detail__img-bg">
            <img src="/assets/test-vh-hero.png" alt="">
        </picture>
    </div>
</section>
