<div class="scroll-popup" style="display: none">
    <div class="scroll-popup__txt-wrap">
        <h2 class="scroll-popup__title">
            history
        </h2>
        <p class="scroll-popup__word">
            of
        </p>
    </div>
    <figure class="scroll-popup__logo">
        <img src="/assets/logo-black.png" alt="logo">
    </figure>
</div>
