<section class="page slideshow" style="  background-image: url('/assets/test-bg-2.png');">
    <div class="copy slideshow__copy" style="opacity: 1;">

        <div class="section-header">
            <div class="section-header__year">
                <h2>
                    2008
                </h2>
            </div>
            <div class="section-header__title">
                <h2>
                    Alterna Brand Launches
                </h2>
            </div>
        </div>

        <h3 class="slideshow__title">
            Collection
        </h3>

        <div class="slideshow__container">
            <div class="slideshow__item">
                <picture class="slideshow__item-photo">
                    <img src="/assets/test-anchor-image.png" alt="">
                </picture>
                <p class="slideshow__item-txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, neque.
                </p>
            </div>

            <div class="slideshow__item">
                <picture class="slideshow__item-photo">
                    <img src="/assets/test-anchor-image.png" alt="">
                </picture>
                <p class="slideshow__item-txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, neque.
                </p>
            </div>

            <div class="slideshow__item">
                <picture class="slideshow__item-photo">
                    <img src="/assets/test-anchor-image.png" alt="">
                </picture>
                <p class="slideshow__item-txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, neque.
                </p>
            </div>

            <div class="slideshow__item">
                <picture class="slideshow__item-photo">
                    <img src="/assets/test-anchor-image.png" alt="">
                </picture>
                <p class="slideshow__item-txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, neque.
                </p>
            </div>

            <div class="slideshow__item">
                <picture class="slideshow__item-photo">
                    <img src="/assets/test-anchor-image.png" alt="">
                </picture>
                <p class="slideshow__item-txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, neque.
                </p>
            </div>
        </div>
    </div>
</section>
