<div class="old-b">
    <figure class="old-b__logo">
        <img src="/assets/logo-white.png" alt="logo">
    </figure>

    <div class="old-b__copy">
        <h3>
            Explore the history of Alterna Haircare <br>
            (on a different browser!)
        </h3>
        <br>
        <p>
            Ensure you are viewing our site on the newest version of the following browsers:
        </p>

        <ul class="old-b__links-list">
            <li class="old-b__links-item">
                <a class="old-b__links-link" href="https://www.google.com/chrome/">
                    Google Chrome
                </a>
            </li>

            <li class="old-b__links-item">
                <a class="old-b__links-link" href="https://www.mozilla.org/en-US/firefox/new/">
                    Mozila Firefox
                </a>
            </li>

            <li class="old-b__links-item">
                <a class="old-b__links-link" href="https://www.apple.com/safari/">
                    Safari for Mac
                </a>
            </li>
        </ul>
    </div>

    <ul class="old-b__social menu-social">
        <li class="menu-social__item">
            <a class="menu-social__link" href="" target="_blank">
                <img src="/assets/iconmonstr-facebook-1-white.svg" alt="social-logo">
            </a>
        </li>
        <li class="menu-social__item">
            <a class="menu-social__link" href="" target="_blank">
                <img src="/assets/iconmonstr-twitter-1-white.svg" alt="social-logo">
            </a>
        </li>

        <li class="menu-social__item">
            <a class="menu-social__link" href="" target="_blank">
                <img src="/assets/iconmonstr-instagram-11-white.svg" alt="social-logo">
            </a>
        </li>
        <li class="menu-social__item">
            <a class="menu-social__link" href="" target="_blank">
                <img src="/assets/iconfinder_pinterest_306183-white.svg" alt="social-logo">
            </a>
        </li>
    </ul>
</div>
