@import '../../shared/styles/variables';

body {
  height: 100vh;
  overflow: hidden;
}

.year-container {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
}

.homepage {
  & section.page {
    height: 100vh;
    background-size: cover !important;
    color: white;
    position: relative;
    scroll-snap-align: start;

    & .copy {
      padding: 20rem 2rem 0;
      z-index: 10;
      position: relative;
      opacity: 0;
    }

    &#page1 {
      background: #171416;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &#page2 {
      background: #171416;
      position: relative;
      z-index: 20;

      & .page2-copy-content {
        display: flex;

        & h4 {
          width: 28%;
        }

        & p {
          width: 75vw;
          color: white;
        }
      }

      & .page2-image1 {
        width: 15%;
        margin-left: 5%;
        display: block;
        opacity: 0;
      }

      & .page2-image2 {
        background-image: url(../../../public/assets/test-vh-image.png);
        background-size: 110%;
        width: 75vw;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        opacity: 0;
      }
    }

    &#page3 {
      background: #171416;
      background-image: url(../../../public/assets/test-bg-2.png);
      position: relative;
      z-index: 10;

      & .page3-copy-content {
        display: flex;
        opacity: 0;

        & div {
          width: 30%;
          margin-right: 3%;
        }

        & .page2-image1 {
          opacity: 0;
        }
      }
    }

    &#page4 {
      background: #171416;
      background-image: url(../../../public/assets/test-bg-1.png);
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 2rem 0;
}

.section-header {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid white;
  align-items: flex-end;
  margin-bottom: 3rem;
  opacity: 0;
  transition: opacity 1s ease;

  &__year {
    width: 33%;

    & h2 {
      font-family: var(--italic-title-font);
      font-style: italic;
      font-size: 5rem;
      line-height: 5rem;
    }
  }

  &__title {
    width: 67%;

    & h2 {
      line-height: 3.2rem;
      max-width: 46rem;
    }
  }
}

.fade-in {
  opacity: 1 !important;
}

.logo {
  position: fixed;
  z-index: 50;
  bottom: 2rem;
  left: 2rem;
  width: 6rem;
}

.menu-social {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
  display: flex;
  align-items: center;

  & img {
    height: 2rem;
  }

  &__item {
    margin: 0 2.1rem;
  }
}

.homepage.--mobile {
  & .logo {
    display: none;
  }

  & .menu-social {
    display: none;
  }

  & section.page {
    z-index: 10;
  }
}
