<section class="page header" style="  background-image: url('/assets/test-bg-2.png');">
    <div class="copy header__copy" style="opacity: 1;">
        <div class="header__year-wrap">
            <picture class="header__year-photo">
                <img src="/assets/test-anchor-image.png" alt="">
            </picture>
            <h2 class="header__year-title">
                2008
            </h2>
        </div>
        <div class="header__title-wrap" style="background-image: url('/assets/test-vh-image.png')">
            <h2 class="header__title">
                Caviar <br>
                Anti-Aging <br>
                Restage
            </h2>
        </div>
    </div>
</section>
