@import '../../styles/variables';

.video {
  &.--modal-open {
    z-index: 200 !important;
  }

  &__bg {
    background-image: url(../../../../public/assets/test-bg-1.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  &__copy {
    &.--modal-open {
      z-index: 200 !important;
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    margin-top: 10rem;
    left: -100vw;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    opacity: 0;
  }

  &__video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__play-btn {
    width: 33%;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    text-decoration: none;

    & figure {
      width: 6rem;
      margin-bottom: 1rem;
    }

    & p {
      font-family: var(--title-font);
      font-size: 1.3rem;
      color: black;
    }
  }

  &__description {
    width: 67%;
    padding: 7rem 0;
    max-width: 70rem;
    z-index: 1;
  }

  &__img-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: -50vh;
    width: 60%;
    height: 30rem;
    z-index: 10;

    & img {
      max-height: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__modal {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.--open {
      visibility: visible;
      opacity: 1;
    }
  }

  &__modal-video {
    width: 100%;
    height: 100%;
  }

  &__modal-container {
    width: 90%;
    display: block;
    max-height: 100%;
    position: relative;
  }

  &__modal-close-btn {
    width: 24px;
    height: 26px;
    padding-top: 10px;
    position: absolute;
    top: 14px;
    right: 40px;
    cursor: pointer;

    & .plus-minus {
      width: 22px;

      &::after,
      &::before {
        width: 22px;
        height: 3px;
      }
    }
  }
}

#progressBar {
  border: 1px solid #aaaaaa;
  color: #ffffff;
  width: 295px;
  height: 20px;
}

#progress {
  background-color: #ff0000;
  height: 20px;
  display: inline-block;
}

.video.--mobile {
  & .video__bg {
    opacity: 0;
    transition: opacity 0.6s ease;
    will-change: opacity;

    /* background: lightcoral !important; */

    top: 0 !important;
  }

  & .video__img-bg {
    display: none;
  }

  & .section-header {
    display: none;
  }

  & .copy.video__copy {
    padding: 0;
    height: 100vh;
    transition: opacity 0.6s ease;
  }

  & .video__content {
    opacity: 1;
    left: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    z-index: 5;
  }

  & .video__play-btn {
    width: 100%;
    padding: 4rem 0;
  }

  & .video__video-bg {
    z-index: -1;
  }

  & .video__description {
    width: 100%;
    padding: 4rem 0;

    & h3 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  & .video__modal-close-btn {
    top: 2rem;
    right: 1rem;
  }

  & .video__modal {
    padding: 1rem 4rem;
  }

  & .video__modal-video {
    width: 100%;
  }
}
