<section class="page video" style="  background-image: url('/assets/test-bg-video-page.png');">
    <div class="copy video__copy" style="opacity: 1;">

        <div class="section-header">
            <div class="section-header__year">
                <h2>
                    1999
                </h2>
            </div>
            <div class="section-header__title">
                <h2>
                    Anti-Aging Caviar Collection
                </h2>
            </div>
        </div>

        <div class="video__content" style="background-image: url('/assets/test-video-banner.png');"">
            <a class="video__play-btn" href="#">
                Watch the video.
            </a>
            <div class="video__description">
                <h3>
                    H3 Video Anchor Description. Roughly 40 max words or 250 chars. An alternative vision born in salons: premium hair products free of additives or harsh ingredients. And a revolution in haircare was born...
                </h3>
            </div>
        </div>
    </div>
    <picture class="video__img-bg">
        <img src="/assets/test-collections-3.png" alt="">
    </picture>
</section>
