files:
  "/tmp/enhanced-security.conf":
    owner: root
    group: root
    mode: "000444"
    content: |
      if ($http_user_agent ~* LWP::Simple|wget|libwww-perl) {
        return 403;
      }

container_commands:
  04_command:
    command: cp -v /tmp/enhanced-security.conf /etc/nginx/enhanced-security.conf
