variable "aws_access" {
  type = "map"
  default = {
    access_key = "AKIAJNXAXG7Z3FBSGG5Q",
    secret_key = "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"
  }
}

variable "db_password" {
  type = "map"
  default = {
    production = "R6j3rBumDsbVtvncbt3aX9ENng3",
    staging = "pZYFuWFnz36j9ARFaavHjKEs8ra",
    qa = "7iyt3c8dTnv2VEy2svtTcmby6db"
  }
}
