<!DOCTYPE html>
<html lang="{{ craft.app.locale|split('-')[0] }}">
    <head>
        {% include 'layout/skeleton/head/head' %}

        {% block headerScripts %}{% endblock %}
    <link href="/compiled/app.3f5b92bed5a0ed0f5728.css" rel="stylesheet"></head>

    <body>
        {% block bodyScripts %}{% endblock %}

        <div id="main-content">
            {% block bodyContent %}{% endblock %}
        </div>

        {% block footerScripts %}{% endblock %}
    <script type="text/javascript" src="/compiled/app.3f5b92bed5a0ed0f5728.js"></script></body>
</html>
