<!DOCTYPE html>
<html lang="{{ craft.i18n.getCurrentLocale()|split('_')[0] }}">
    <head>
        {% include 'layout/skeleton/head/head' %}

        {% block headerScripts %}{% endblock %}
    <link href="/compiled/main.6b846a4e12264e2c43a4.css" rel="stylesheet"></head>

    <body>
        {% block bodyScripts %}{% endblock %}

        <div id="main-content">
            {% block bodyContent %}{% endblock %}
        </div>

        {% block footerScripts %}{% endblock %}
    <script type="text/javascript" src="/compiled/main.6b846a4e12264e2c43a4.js"></script></body>
</html>
